* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
  }
  
  .tools-container {
    height: 100px;
    background: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .drawing-container {
  }
  
  #canvas {
  }
  .sticky {
    position: absolute;
  
    top: 214px;
  
    left: 400px;
  
    height: 192px;
  
    width: 220px;
  
    /* background: turquoise; */
  
    /* display: flex; */
  
    /* flex-direction: column; */
  
    /* align-items: flex-start; */
  
    /* justify-content: space-around; */
  }
  .sticky-header div {
    height: 58%;
  
    width: 8%;
  
    /* background: #e91e63; */
  
    margin: 4px;
  
    border-radius: 104px;
  }
  .sticky-header {
    height: 15%;
  
    width: 100%;
  
    background: #fab1a0;
  
    display: flex;
  
    justify-content: flex-end;
  
    align-items: center;
  
    flex-direction: row;
  }
  .minimise {
    background: lightskyblue;
  }
  .close {
    background: red;
  }
  .sticky-content {
    outline: none;
  
    height: 85%;
  
    width: 100%;
  
    background: #81ecec;
  
    border-bottom-right-radius: 32px;
  
    /* margin: 0px; */
  
    padding: 6px;
  
    font-size: 23px;
  }
  .sticky-image{
      
  height: 100%;
      
  width: 100%;
      
  object-fit: cover;
  }
  
  .tools-content {
    /* border: 1px solid red; */
    height: 67%;
    width: 77%;
    display: flex;
    justify-content: space-evenly;
    background-color: #a6f7ff;
    border-radius: 16px;
    align-items: center;
  }
  
  .tool {
    height: 60%;
    width: 50%;
  }
  
  .tool img {
    height: 100%;
    width: 100%;
  }
  